@import url('https://fonts.googleapis.com/css2?family=Iansui&display=swap');

body {
    background-color: rgb(152, 238, 204);
    font-family: "Iansui", cursive;
}

header {
    background-color: rgb(158, 226, 207);
}

.logo {
    display: flex;
    justify-content: center;
}

header nav {
    display: flex;
    justify-content: center;
}

header a {
    padding: 20px;
    text-decoration: none;
    color: purple;
}

header nav :hover {
    text-decoration: underline;
}

main {
    background-color: rgb(208, 245, 190);
}

.info_1 {
    overflow: hidden;
    background-color: rgb(251, 255, 220);
    border-radius: 7px;
}

.info_1 img {
    float: left;
    width: 250px;
    border-radius: 7px;
    padding-right: 15px;
}

.info_2 {
    overflow: hidden;
    background-color: rgb(251, 255, 220);
    border-radius: 7px;
}

.info_2 img {
    float: right;
    width: 250px;
    border-radius: 7px;
    padding-left: 15px;
}

footer {
    background-color: rgb(164, 144, 124);
    font-size: 15px;
}

footer p {
    text-align: center;
    margin: 50px;
}

.producto_card {
    display: flex;
    justify-content: center;
}

.producto {
    margin: 20px;
    width: 350px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 5px 5px 5px #ccc;
    background-color: rgb(251, 255, 220);
}

.producto img {
    padding-top: 10px;
    width: 250px;
    float: left;
    padding-right: 15px;
    padding-left: 50px;
    padding-bottom: 5px;
}

.info_producto {
    text-align: justify;
    padding: 20px;
}

.producto_footer {
    display: flex;
    justify-content: center;
}

.producto_footer button a{
    text-decoration: none;
    color: rgb(214, 154, 222);
}

.producto_footer button :hover {
    color: purple;
    text-decoration: underline ;
}

.tarjetas {
    display: flex;
    justify-content: center;
}

.card {
    margin: 20px;
    width: 250px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0px 10px 10px  #ccc;
    background-color: rgb(251, 255, 220);
}

.card img {
    padding-top: 5px;
    width: 150px;
    display: block;
    padding-left: 50px;
    padding-bottom: 5px;
}

.card-content {
    padding: 30px;
}

.card :hover {
    background-color: rgb(234, 189, 230);
    transform: scale(1.05);
}